:root {
    --light-green: rgb(134, 220, 103);
    --green: #32CD32;
    --red: #fd5c63;
    --yellow: rgb(183, 198, 67);
    --grey: rgb(66, 66, 66);
}

*,
*::before,
*::after {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    background-color: rgb(0, 0, 0);
}

.introduction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.play-btn {
    width: min(90%, 40rem);
    font-size: 3rem;
    background-color: var(--green);
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 0.3ch;
}

.play-btn:hover {
    background-color: var(--light-green);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-container {
    display: grid;
    place-items: center;
    background-color: var(--yellow);
    height: 200px;
    width: 200px;
    margin: 5rem;
    border-radius: 15rem;
}

.time {
    font-size: 10rem;
}

.word-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: min(90%, 50rem);
    margin: 1rem 0 5rem 0;
}

.word {
    font-size: 4rem;
    background-color: rgb(67, 67, 67);
    width: 100%;
    text-align: center;
    border: 1px solid rgb(73, 73, 73);
    color: #fff;
    padding: 1rem;
    transition: 150ms linear;

}

.input-container {
    text-align: center;
}

.input-container button {
    cursor: pointer;
    width: 15rem;
    padding: 1.5rem 1rem;
    border: none;
    outline: none;
    font-size: 2rem;
    background-color: var(--red);
}

.input-container button:hover {
    background-color: #f47e84;
}

input {
    padding: 1.5rem 1rem;
    width: min(90%, 15rem);
    border: none;
    outline: none;
    color: #222;
    font-size: 2rem;
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

.score {
    position: absolute;
    font-size: 4rem;
    bottom: 0;
    left: 0;
}

.bg-green {
    background-color: var(--green);
}

.bg-red {
    background-color: var(--red);
    transition: 300ms linear;
}

.hero-container {
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 1.5rem;
}

.hero-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 2.5rem;
    background-color: var(--grey);
    line-height: 3.5rem;
    border-radius: 2.5rem;
}

.instruction-word {
    display: flex;
    gap: 0.3rem;
}

.instruction-word p {
    width: 3rem;
    text-align: center;
    background-color: rgb(147, 147, 147);
    font-weight: bold;
}

#one, #two, #three {
    background-color: var(--green);
}

#correct-input {
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    color: #222;
    font-size: 2rem;
    text-align: center;
    background-color: #fff;

}

.correct-instruction-word {
    display: flex;
    gap: 0.3rem;
}

.correct-instruction-word p {
    width: 3rem;
    text-align: center;
    background-color: var(--green);
    font-weight: bold;
}

.game-mode-btn {
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
    display: flex;
}

.solo-btn, .multiplayer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    background-color: var(--green);
    border: none;
    cursor: pointer;
}

.solo-btn span, .multiplayer-btn span {
    margin-right: 0.4rem;
}

.solo-btn:hover, .multiplayer-btn:hover {
    background-color: var(--light-green);
}

.multiplayer-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.multiplayer-card {
    text-align: center;
    padding: 2.5rem 2.5rem;
    background-color: var(--grey);
    line-height: 3.5rem;
}

.multiplayer-card h1:first-child {
    font-size: 2.7rem;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin-top: 1.5rem;
}

.player-value {
    padding: 0 1rem;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: start;
}

.add {
    height: 100%;
    width: 3rem;
    background-color: #804cce;
    border: none;
    cursor: pointer;
}

.player-names {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-delete {
    cursor: pointer;
}

.multiplayer-play-btn {
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem 0;
    letter-spacing: 0.3ch;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: var(--green);
    margin-top: 2rem;
}

.multiplayer-play-btn:hover {
    background-color: var(--light-green);
}

#round-selector {
    padding: 0;
}

@media (width <= 768px) {
    .word-container {
        gap: 0.5rem;
    }

    .word {
        font-size: 3rem;
        padding: 0;
    }

    .play-btn {
        font-size: 3rem;
        width: 60%;
    }
}